.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.suprer-container
{
    width: 100%;
    overflow: hidden;
}

.home
{
    width: 100%;
    height: 447px;
}

.prlx-parent
{
    overflow: hidden;
}

.home-background-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prlx
{
    height: 130% !important;
}

.home-background
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-content
{
    position:absolute;
    left: 50%;
    bottom: 109px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #ffb606;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 42px;
}

.home-content
{
    font-size: 72px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.5;
    white-space: nowrap;
}

.news
{
    width: 100%;
    padding-top: 103px;
    padding-bottom: 118px; 
    margin-top: 200px;  
}

.news-post
{
    margin-bottom: 85px;
}

.news_post:last-child
{
	margin-bottom: 0px;
}

.news-post-image
{
    width: 100%;
}

.news-post-image img
{
    width: 100%;
    height: auto;
}

.news-post-top
{
    margin-top: 38px;
}

.news-post-date
{
    width: 68px;
    height: 68px;
    background: #ffb606;
}

.news-post-date div:first-child
{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
}

.news_post-date div:last-child
{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 3px;
}

.news-post-title-container
{
    padding-left: 31px;
    margin-top: -7px;
}

.news-post-title a
{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    color: #1a1a1a;
}

.news-post-title a:hover
{
    color: #a5a5a5;
}

.nesw-post-meta
{
    color: #1a1a1a;
    margin-top: 5px;
    padding-left: 2px;
}

.news-post-meta span:nth-child(2)
{
    font-size: 12px;
    font-weight: 500;
    columns: #1a1a11;
    margin-left: 5px;
    margin-right: 5px;
}

.news-post-author a
{
    font-size: 12px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1;
}

.news-post-comments a
{
    font-size: 12px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1;
}

.news-post-author a:hover,
.news-post-comments a:hover
{
    color: #a5a5a5;
}

.news-post-text
{
    margin-top: 27px;
}

.news-post-button
{
    width: 188px;
    height: 53px;
    background: #ffb606;
    margin-top: 18px;
}

.news-post-button a
{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 53px;
}

.news-post-button:hover
{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

ul
{
    list-style: none;
	margin-bottom: 0px;
}

.news-page-nav ul li
{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #d2d2d2;
    margin-right: 3px;
}

.news-page-nav ul li.active
{
    background: #ffb606;
}

.news-page-nav ul li:hover
{
    background: #ffb606;
}

.news-page-nav ul li a
{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 43px;
}

.sidebar
{
    width: 100%;
}

.new-post-button
{
   margin-top: 50px;
}

.button
{
    display: inline-block;
	width: 300px;
	height: 53px;
	vertical-align: middle;
	margin-right: 9px;
	margin-bottom: 15px;
}

.button:hover
{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.button a
{
    line-height: 53px;
	display: block;
	font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.new-post
{
    background: #ffb606;
}

.sidebar-section
{
    margin-top: 48px;
}

.sidebar-section:first-child
{
    margin-top: 0px;
}

.sidebar-section-title
{
    margin-top: -1px;
}

.sidebar-section-title h3
{
    color: #1a1a1a;
    line-height: 1;
    font-weight: 700;
}

.sidebar-list
{
    margin-top: 28px;
}

.sidebar-list-item
{
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: solid 2px #d2d2d2;
}

.sidebar-list-item a
{
    font-size: 14px;
    font-weight: 500;
    color: #a5a5a5;
}

.sidebar-list-item a:hover
{
    color: #ffb606;
}

.latest-posts
{
    margin-top: 50px;
}

.latest-post
{
    margin-bottom: 27px;
}

.latest-post:last-child
{
    margin-bottom: 0px;
}

.latest-post-image
{
    width: 100%;
}

.latest-post-image img
{
    width: 100%;
    height: auto;
}

.latest-post-title
{
    margin-top: 24px;
}

.latest-post-title a
{
    font-size: 18px;
    font-weight:500;
    color: #1a1a1a;
}

.latest-post-title a:hover
{
    color: #a5a5a5;
}

.latest-post-meta
{
    color: #1a1a1a;
    margin-top: 6px;
}

.latest-post-meta span:nth-child(2)
{
    font-size: 12px;
    font-weight: 500;
    color: #1a1a1a;
    margin-left: 5px;
    margin-right: 5px;
}

.latest-post-author a
{
    font-size: 12px;
    font-weight: 500;
    color: #a5a5a5;
    line-height: 1;
}

.latest-post-comment a
{
    font-size: 12px;
    font-weight: 500;
    color: #a5a5a5;
    line-height: 1;
}

.latest-post-title a:hover,
.latest-post-comments a:hover
{
    color: #a5a5a5;
}

.tags
{
    margin-top: 50px;
}

.tag
{
    height: 40px;
    background: #ffb606;
    margin-right: 12px;
    margin-bottom: 10px;
}

.tag a 
{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}