.post
{
	width: 100%;
	padding-top: 200px;
	padding-bottom:300px;
}

.post-image
{
	width: 100%;
}

.post-image img
{
	width: 100%;
	height: auto;
}

.post-top
{
	margin-top: 38px;
}

.post-date
{
	width: 68px;
	height: 68px;
	background: #ffb606;
}

.post-date div:first-child
{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1;
}

.post-date div:last-child
{
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1;
	margin-top: 3px;
}

.post-title-container
{
	padding-left: 31px;
	margin-top: -7px;
}

.post-title h1
{
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
	color: #1a1a1a;
}

.post-meta
{
	color: #1a1a1a;
	margin-top: 5px;
	padding-left: 2px;
}

.post-meta span:nth-child(2)
{
	font-size: 12px;
	font-weight: 500;
	color: #1a1a1a;
	margin-left: 5px;
	margin-right: 5px;
}

.news-post-author
{
	font-size: 12px;
	font-weight: 500;
	color: #1a1a1a;
	line-height: 1;
}

.news-post-comments
{
	font-size: 12px;
	font-weight: 500;
	color: #1a1a1a;
	line-height: 1;
}

.news-post-text
{
	margin-top: 30px;
}

.post-comments
{
	margin-top: 67px;
}

.comments-title
{
	font-size: 18px;
	font-weight: 700;
	color: #1a1a1a;
}

.comments-list
{
	margin-top: 69px;
}

.comment
{
	margin-bottom: 25px;
}

.comment:last-child
{
	margin-bottom: 0px;
}

.comment-container

.comment-content
{
	padding-left: 28px;
}

.comment-meta span
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
}

.comment-name
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
}

.comment-separator
{
	margin-left: 7px;
	margin-right: 7px;
}

.comment-text
{
	margin-top: 10px;
	padding-left: 2px;
}

.leave-comment
{
	margin-top: 51px;
}

.leave-comment-title
{
	font-size: 18px;
	font-weight: 700;
	color: #1a1a1a;
}

.leave-comment-form-container
{
	margin-top: 77px;
}

.form-control
{
	width: 100%;
	height: 189px;
	background: #f8f4f4;
	border: solid 2px transparent;
	padding-left: 33px;
	margin-bottom: 24px;
}

.form-control:focus
{
	outline: none !important;
	border-color: #ffb606;
}

.btn
{
	width: 100%;
	height: 48px;
	background: #ffb606;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
}

.btn:focus
{
	outline: solid 1px #ffb606;
	border: green !important;
}

